<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}">Money</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}">Transport</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}">Living</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}">Food</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}">Nature</a>
</li>
<!--
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
-->
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
